# IMPORTANT! This ignore makes sure you don't check-in
# your foursquare client/push secrets. Don't remove this
# unless you're sure that you won't leak these secrets by
# open-sourcing this code, etc.
foursquare_secrets.py

*.py[co]

# vim swap files
.*.sw[po]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Eclipse junk
.project
.pydevproject
